<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="container">
    <header>
        <div class="nav-bar">
            <a href="/">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </header>
    <main>
        <div class="logo">
            <div>
                <img
                        th:src="@{/images/LOGO.jpg}"
                        alt=""
                />
            </div>
            <div class="create-account">
                <p>Don't have account?</p>
                <a class="register" th:href="@{/register}">Create Account</a>
            </div>
        </div>
        <div class="content">
            <div class="col-1">
                <div class="img-reg">
                    <img th:src="@{/images/Illustrations.jpg}" alt=""/>
                </div>
            </div>
            <div class="col-2">
                <div class="col-2-content">
                    <h1>Sign in to your account</h1>
                    <div class="login-form">
                        <span th:text="${loginError}" style="color: red"></span>
                        <form th:action="@{/login}" method="post">
                            <div class="input-group">
                                <label for="username">Username</label>
                                <input
                                        type="text"
                                        name="username"
                                        id="username"
                                        placeholder="Enter your username"
                                />
                            </div>
                            <div class="input-group">
                                <label for="password">Password</label>
                                <input
                                        type="password"
                                        name="password"
                                        id="password"
                                        placeholder="Enter your password"
                                />
                            </div>
                            <div class="remember-signing">
                                <div>
                                    <input
                                            type="checkbox"
                                            name="remember-me"
                                            id="remember"
                                    />
                                </div>
                                <div>
                                    <label for="remember"
                                    >Remember me</label
                                    >
                                </div>
                                <button type="submit">Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>
            © 2025 - VIET NAM. Designed by Võ Đăng Thịnh. All rights
            reserved
        </p>
    </footer>
</div>
</body>
</html>
