<div class="form-section">
    <h3>Update Student</h3>
    <form th:action="@{/admin/student/edit}" th:object="${student}" method="post"
          id="studentForm">
        <input hidden th:name="id" th:value="${student.id}">
        <div class="full-name">
            <label for="firstName">Full Name</label>
            <div class="name">
                <input type="text" placeholder="First name" th:field="*{firstName}"
                       id="firstName" required/>
                <input type="text" placeholder="Last name" th:field="*{lastName}" id="lastName"
                       required/>
            </div>
        </div>
        <div class="std-gender-dob">
            <div class="gender">
                <label for="gender">Gender</label>
                <select th:field="*{gender}" id="gender" required>
                    <option value="">
                        Select Gender
                    </option>
                    <option value="Male">
                        Male
                    </option>
                    <option value="Female">
                        Female
                    </option>
                    <option value="Other">
                        Other
                    </option>
                </select>
            </div>

            <div class="dob">
                <label for="dob">DoB</label>
                <input type="date" th:field="*{dob}" id="dob" required/>
            </div>
        </div>

        <div class="id-card">
            <div class="id-card-number">
                <label for="idCardNumber">ID Card Number</label>
                <input type="text" placeholder="ID card number" th:field="*{idCardNumber}" id="idCardNumber"/>
            </div>
        </div>
        <div class="contact">
            <div class="email">
                <label for="email">Email</label>
                <input type="email" placeholder="Email" th:field="*{email}" id="email" required/>
            </div>

            <div class="phone">
                <label for="phone">Phone</label>
                <input type="text" placeholder="Phone" th:field="*{phone}" id="phone"/>
            </div>
        </div>
        <div class="address">
            <label for="address">Address</label>
            <input th:field="*{address}" placeholder="Address" id="address"/>
        </div>
        <div class="class-name">
            <label for="className">Class Name</label>
            <select th:field="*{className}" id="className">
                <option value="">
                    Select Class
                </option>
                <option th:each="class : ${classes}" th:value="${class.className}"
                        th:text="${class.className}"></option>
            </select>
        </div>
        <div class="form-actions">
            <a th:data-url="@{/admin/student}" class="cancel-btn">Cancel</a>
            <button type="submit" class="save-next-btn" th:data-page="${page}">Update</button>
        </div>
    </form>
</div>