<div class="student-table-tile">
    <h1>List of Class</h1>
    <a id="addClassBtn">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706
            7.02944 21 12 21Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
            <path d="M8.25 12H15.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 8.25V15.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        Create Class</a>
</div>
<table>
    <thead>
    <tr>
        <th>No</th>
        <th>Class Name</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="class, iterStat : ${classes}">
        <td th:text="${iterStat.index + 1 + (currentPage * 14)}"></td>
        <td th:text="${class.className}"></td>
        <td th:text="${class.description}"></td>
        <td style="width: 9%">
            <a th:data-class-id="${class.id}" id="class-edit-btn" th:data-page="${currentPage}">
                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="20"
                     height="20">
                    <path d="m19,0H5C2.243,0,0,2.243,0,5v14c0,2.757,2.243,5,5,5h14c2.757,0,5-2.243,
                    5-5V5c0-2.757-2.243-5-5-5Zm3,19c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V5c0-1.654,1.346-3,
                    3-3h14c1.654,0,3,1.346,3,3v14ZM13.879,6.379l-6.707,6.707c-.755.755-1.172,1.76-1.172,2.828v1.586c0,
                    .553.448,1,1,1h1.586c1.068,0,2.073-.416,2.828-1.172l6.707-6.707c1.17-1.17,1.17-3.072,
                    0-4.242-1.134-1.133-3.11-1.133-4.243,0Zm-3.879,
                    9.535c-.373.372-.888.586-1.414.586h-.586v-.586c0-.534.208-1.036.586-1.414l4.25-4.25,1.414,
                    1.414-4.25,4.25Zm6.707-6.707l-1.043,1.043-1.414-1.414,
                    1.043-1.043c.377-.379,1.036-.379,1.414,0,.39.39.39,1.024,0,1.414Z"/>
                </svg>
            </a>
            <a th:data-class-id="${class.id}" id="add-std-to-class" title="Add student into class" th:data-page="${currentPage}">
                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="20" height="20">
                    <path d="M23,11H21V9a1,1,0,0,0-2,0v2H17a1,1,0,0,0,0,2h2v2a1,1,0,0,0,2,0V13h2a1,1,0,0,0,0-2Z"/>
                    <path d="M9,12A6,6,0,1,0,3,6,6.006,6.006,0,0,0,9,12ZM9,2A4,4,0,1,1,5,6,4,4,0,0,1,9,2Z"/>
                    <path d="M9,14a9.01,9.01,0,0,0-9,9,1,1,0,0,0,2,0,7,7,0,0,1,14,0,1,1,0,0,0,2,0A9.01,9.01,0,0,0,9,14Z"/>
                </svg>
            </a>
            <a th:data-class-id="${class.id}" id="class-delete-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                    <g id="_01_align_center" data-name="01 align center">
                        <path d="M22,4H17V2a2,2,0,0,0-2-2H9A2,2,0,0,0,7,2V4H2V6H4V21a3,3,0,0,0,3,3H17a3,3,0,0,0,
                        3-3V6h2ZM9,2h6V4H9Zm9,19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V6H18Z" fill="#E34444"/>
                        <rect x="9" y="10" width="2" height="8" fill="#E34444"/>
                        <rect x="13" y="10" width="2" height="8" fill="#E34444"/>
                    </g>
                </svg>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<div class="page">
    <th:block th:if="${numberOfPages > 0}" th:each="pageNumber : ${#numbers.sequence(0, numberOfPages - 1)}">
        <a class="page-number" th:id="${pageNumber}" th:data-url="@{/admin/class(page=${pageNumber})}"
           th:text="${pageNumber + 1}" th:data-page="${pageNumber}"></a>
    </th:block>
</div>
